include ../../core/config/pug/mocks.pug
include ../dropdownMenu/dropdownMenu.pug
include ../cardsList/cardsList.pug




            


section.cards
    .container-header
        svg.container-header__icon-header
           use(href='./assets/icons/clean/sprite.svg#icon-header-card-list')
        h2.container-header__title Cамых популярных достопримечательностей
        +dropdown-menu
    +card-list(cardsItems)
    