//- extends ../core/ui/layout/templates/map.pug

//- block title
//-   | Карта проекта

//- block workarea
//-   h1 Карта проекта

//-   a(href="ui.html") ui
//-   a(href="project.html") Project


- var title = 'Впечатляющие места'

html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH", crossorigin="anonymous")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css")
    link(rel="stylesheet", href="css/index.css")

  body
    include ../components/header/header
    main
      include ../components/banner/banner
      include ../components/cards/cards
      include ../components/travelGuides/travelGuides
      p Текст
    include ../components/footer

    script(src="js/index.js")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js", integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js")
    script(src="./assets/fancybox/fancybox.umd.js")
    script.
      Fancybox.bind('[data-fancybox]', {
        // Custom options
      });    
    