

mixin link(href, name)
  a.nav__link(href=href)&attributes(attributes)= name





header.header
        svg.icon
            use(href='./assets/icons/clean/sprite.svg#logo-header')
        h1.title 
            span.font-main Владимирская
            span.font-secondary ОБЛАСТЬ    
        button.open-modal(type="button", data-bs-toggle="modal", data-bs-target="#staticBackdrop") Все районы
        include ../modal/modal.pug
        nav.nav
            +link('#', 'Достопримечательности')
            +link('#', 'Путеводители')
            +link('#', 'Экскурсии')
            +link('#', 'Заметки путешественников')
            +link('#', 'Конструктор маршрутов')
        .border-vertical
        svg.icon-visually-impaired
           use(href='./assets/icons/clean/sprite.svg#icon-visually-impaired')
            .tooltip-visually-impaired
                span.tooltip-visually-impaired__text Версия сайта для слабовидящих
                svg.icon-visually-impaired-active
                    use(href='./assets/icons/default/sprite.svg#icon-visually-impaired-active')   
