@use '../../config/scss' as config;
@use '../../lib/scss' as lib;


// .layout {
//   display: flex;
//   min-height: 200vh;
//   flex-direction: column;

//   &__header {
//     position: sticky;
//     top: 0;
//   }


//   &__main {
//     flex-grow: 1;
//   }

//   &__footer {
//     margin-top: auto;
//   }
// }

html {
  background-color: black;
  color: white;
  font-family: 'Arial', 'Helvetica', sans-serif;
 
}

.header {
  font-family: config.$font-title;
}

p {
  font-family: config.$font-primary;
}

.footer {
  font-family: config.$font-text;
}